<form action="/addContact" method="POST">
    <input type="text" name="subject" placeholder="Enter Subject of Issue">
    <input type="text" name="issue" placeholder="Enter The Issue">
    <input type="text" name="number" placeholder="Enter Number">
    <input type="submit" value="submit" class="btn waves-effect waves-light">
</form>