<form action="/addContact" method="POST">
    <input type="text" name="" placeholder="">
    <input type="text" name="" placeholder="">
    <input type="text" name="" placeholder="">
    <input type="submit" value="submit" class="btn waves-effect waves-light">
</form>